/*****************************************/
/*  BODY FOR COURSE LIST  */
thead th {
  font-weight: bold;
}

thead tr:first-child th {
  text-align: center;
  border-bottom: 2px solid #ddd;
}

thead tr:nth-child(2) th {
  text-align: left;
  border-bottom: 2px solid #ddd;
}