:root {
  --color-brand: #e0354b;
}

.Notifications {
  padding: 0.5rem;
  border: 2px dashed var(--color-brand);
}

.Notifications button img {
  width: 20px;
}

[data-notification-type="default"] {
  color: #210a61;
}

[data-notification-type="urgent"] {
  color: #e01d3f;
}
